:root {
    background-color: rgb(50, 159, 232);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cauculadora {
    padding: 40px;
    border: 1px solid white;
    margin: 100px 100px;

}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

div.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.body input {
    border: 0;
    width: 30vw;
    margin: 5px;
    padding: 4px;
    border-radius: 2px;
    outline: none;
    
}

button {
    color: rgb(62, 101, 255);
    background-color: white;
    border: 0;
    border-radius: 3px;
    margin: 5px; 
    padding: 4px;
    width: 10vw;
    transition: .3s;
    outline: none;
}

button:hover {
    background-color: rgb(62, 101, 255);
    color:rgb(255, 255, 255)
}

output#res {
    color: white;
    font-size: 50px;
}   