:root {
    background-color: #1c88c6;
}

.container h1 {
    color: white   ;
    display: block;
    justify-content: center;
}

.container p {
    color: white;
}

#nota1 {    
    width: 20rem;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    display:block;
  
}

#nota2 {
    width: 20rem;
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    display: block;
  
}

#image-serr {
    width: 25rem;
}

.caucular {
    color:black;
    background-color: rgb(210, 233, 219);
    text-decoration: none;
    width: 20rem;
    display: block;
    border-radius: .6rem;
    cursor: pointer;
}

.value {
    size: 3.2rem;
    font-size: 1.4rem;
}

.field {
    width: 20rem;
    display: flex;
    justify-content: center;
    border-width: 2px;
    border-color: rgb(199, 192, 231);
}

.cauculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#res {
    color: bisque;

}